/* Start coding here */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 50px;
  border: 50px solid lightgray;
}

.box-1 {
  width: 95vw;
  height: 25vh;
  background-color: orange;
}

.box-2 {
  width: 95vw;
  height: 25vh;
  background-color: khaki;
}

.box-3 {
  width: 95vw;
  height: 50vh;
  background-color: cornflowerblue;
}